<div class="Containers" fxLayout.lt-md="column">
    <app-navbar> </app-navbar>

    <div class="left-container" fxFlex="50" fxFlex.lt-md="40"  fxFlex.lt-sm="45">
        <div class="textbox">
            NO BETTER <span class="mustard">BURGER</span> THAN THIS!
        </div>
        <div class="button">
            <button mat-raised-button (click)="redirectToCustomize()">Build Your Own Burger</button>
        </div>
    </div>

    <div class="right-container"  fxFlex="1 1 auto" fxLayout="center center">
        <div class="burger-container">
            <img [src]="imageUrl" alt="homescreen-image" class="burger-image">
        </div>
    </div>
</div>

