.Containers {
  background-color: #5c2e0f;
  height: 100vh;
  width: 100%;
  position: relative; /* Set the parent container to relative positioning */

  app-navbar {
    position: absolute; /* Set app-navbar to absolute positioning */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100%; /* Make it cover the entire width */
    z-index: 999; /* Ensure it appears above other content */
  }
}

.left-container {
  background-color: #d1bd9e;
  z-index: 1;
  font-family: "Paytone One", sans-serif;

  .textbox {
    color: #5c2e0f;
    width: 80%;
    font-size: 80px;
    font-weight: 600px;
    font-family: "Paytone One", sans-serif;
    line-height: 1;
    text-align: left;
    z-index: 1;
    padding-top: 20%;
    padding-left: 5%;

    .mustard {
      color: #e89222;
    }

    @media screen and (max-width: 1024px) {
      padding-top: 40px;
      width: 70%;
      z-index: 9999;
    }

    @media screen and (max-width: 600px) {
      padding-top: 40px;
      font-size: 40px;
      width: 50%;
      z-index: 9999;
      line-height: 1.1;
    }
  }
  button {
    background-color: #5c2e0f;
    color: #d1bd9e;
    font-size: 20px;
    font-weight: 5px;
    font-family: "Paytone One", sans-serif;
    border-radius: 30px;
    padding: 23px 12px 23px 12px;
  }
  .button {
    padding-left: 5%;
    margin-top: 7%;
  }

  @media screen and (max-width: 600px) {
    z-index: 1;
  }
}

.right-container {
  .burger-container {
    background-color: rgba(#d1bd9e, 0.2);
    width: 450px; /* Adjust the size of the circle */
    height: 450px; /* Should be equal to width to create a perfect circle */
    border-radius: 50%; /* Makes it a circle */
    z-index: 1;
    position: absolute;
    top: 55%; /* Center vertically */
    left: 75%; /* Center horizontally */
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1024px) {
      height: 575px;
      width: 575px;
      top: 70%; /* Center vertically */
      left: 50%; /* Center horizontally */
    }

    @media screen and (max-width:600px)
    {
        height: 350px;
        width: 90%;
        top: 70%; /* Center vertically */
        left: 50%; /* Center horizontally */
    }
  }

  .burger-image {
    position: absolute;
    top: 40%; /* Center vertically within burger-container */
    left: 50%; /* Center horizontally within burger-container */
    transform: translate(
      -50%,
      -50%
    ); 
    width: 600px; 
    height: 760px;
    
    @media screen and (max-width:1024px)
    {
        top: 45%;
        z-index: 9999;
        width: auto;
    }

    @media screen and (max-width:600px)
    {
        position: absolute;
        top: 42%;
        left: 50%;   
        z-index: 9999;
        height: 575px;
        width: auto;
    }
  }
}
