<div fxLayout="row" class="nav-bar" fxHide.lt-md>
    <div class="icon-container">
        <img src="" alt="" class="icon">
    </div>
    <div class="nav">
        <div class="nav-item">
            Home
        </div>
        <div class="nav-item">
            Customize
        </div>
        <div class="nav-item">
            Shop
        </div>
        <div class="nav-item">
            Feedback
        </div>
        <div class="nav-item">
            <span class="material-symbols-outlined">
                shopping_bag
            </span>
        </div>
    </div>
</div>