<div fxLayout="row" class="nav-bar" fxHide.lt-md>
    <div class="icon-container">
        <img src="" alt="" class="icon">
    </div>
    <div class="nav" [class.customize-item]="isCustomizePage">
        <div class="nav-item"  (click)="onClick('/home')">
            Home
        </div>
        <div class="nav-item"  (click)="onClick('/customize-screen')">
            Customize
        </div>
        <div class="nav-item"  (click)="onClick('/product-page')">
            Shop
        </div>
        <div class="nav-item"  (click)="onClick('/feedback')">
            Feedback
        </div>

        <div class="nav-item"  (click)="onClick('/cart')">
            <span class="material-symbols-outlined">shopping_bag</span>
        </div>



        <!-- <div class="dropdown" *ngIf="cartData.data.length > 0">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                <span class="material-symbols-outlined">shopping_bag</span>
              <span>Your Cart</span>
              <div class="qty">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</div>
            </a>
            <div class="cart-dropdown">
              <div class="cart-list">
                <div class="product-widget" *ngFor="let c of cartData.data; let i = index">
                  <div class="product-img">
                    <img [src]="c.product.ImageURL" alt="{{c.product.ProductName}}" width="20px">
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">{{c.product.ProductName}}</a></h3>
                    <h4 class="product-price"><span class="qty">{{c.numInCart}} x</span>{{c.product.Price | currency: 'LKR'}}</h4>
                  </div>
                </div>
              </div>
              <div class="cart-summary">
                <h5>TOTAL: {{cartTotal | currency : 'LKR'}}</h5>
              </div>
              <div class="cart-btns">
                <a routerLink="/cart">View Cart</a>
                <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>



          <div class="dropdown" *ngIf="cartData.data.length == 0">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
              <span class="material-symbols-outlined">shopping_bag</span>
              <span>Your Cart</span>
              <div class="qty">0</div>
            </a>
            <div class="cart-dropdown">
              <div class="cart-list">
                <div class="product-widget" *ngFor="let c of cartData.data; let i = index">
                  <div class="product-img">
                    <img [src]="c.product.ImageURL" alt="{{c.product.ProductName}}" width="20px">
                  </div>
                  <div class="product-body">
                    <h3 class="product-name"><a href="#">{{c.product.ProductName}}</a></h3>
                    <h4 class="product-price"><span class="qty">{{c.numInCart}} x</span>{{c.product.Price | currency: 'LKR'}}</h4>
                  </div>
                </div>
              </div>
              <div class="cart-summary">
                <h5>TOTAL: {{cartTotal | currency : 'LKR'}}</h5>
              </div>
              <div class="cart-btns">
                <a routerLink="/cart">View Cart</a>
                <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div> -->














        <div *ngIf="!userID" class="nav-item"  (click)="onClick('/login')">
            <span class="material-symbols-outlined">
              login
            </span>
        </div>

        <div *ngIf="userID" class="nav-item"  (click)="userProfile()">
          <span class="material-symbols-outlined">
            account_circle
            </span>
        </div>

        <div *ngIf="userID" class="nav-item"  (click)="logoutUser()">
          <span class="material-symbols-outlined">
            logout
            </span>
        </div>



    </div>
</div>