<app-page-loader *ngIf="showLoader"></app-page-loader>
<div class="Containers">
    <app-navbar></app-navbar>

    <div class="textbox">Feedback & Reviews</div>

      <div fxLayout="row" fxLayout.xs="column">
          <div fxFlex="1 1 auto" fxFlex.xs="100%" class="product-column">
                <div
                  class="scrollable-content"
                  fxLayout="row wrap"
                  fxLayoutGap="40px calc(100% - 40px)"
                  fxLayoutAlign="space-evenly">
                  <ng-container
                  *ngIf="feedbackData && feedbackData.length > 0; else noResults">
                  <div class="data-blocks" *ngFor="let data of feedbackData">
                    <app-feedback-block
                      [ReviewID]="data.ReviewID"
                      [OrderID]="data.OrderID"
                      [UserID]="data.UserID"
                      [Name]="data.Name"
                      [burgerName]="data.burgerName"
                      [Comment]="data.Comment"
                      [Rating]="data.Rating"
                      [imageURL]="data.imageURL"
                    ></app-feedback-block>
                  </div>
                </ng-container>
                  <ng-template #noResults>
                    <div
                      fxLayout="column"
                      class="no-results"
                      fxLayoutAlign="center center"
                      fxFlex="1 1 auto"
                    >
                      No Feedbacks and Reviews
                    </div>
                  </ng-template>
                  </div>
          </div>
          
      </div>

  <!--

<div>
      <div class="search-icon" (click)="toggleSearch()">
          <img src="assets/burgerbuild.gif" alt="Loading..." class="search-iconn">
      </div>

      <div class="search-icon1" fxLayout="row">
        <span class="material-symbols-outlined search-iconn">
          search
      </span>
      <div class="search-bar" [ngClass]="{ 'expanded': isSearchExpanded }">
        <input class="search-input" type="text" placeholder="Search"
        [(ngModel)]="searchQuery"
        (keyup)="onKeyUp($event)"
        [autofocus]="false">
      </div>
    </div>
  </div>

  -->   

  </div>

 