.card{
    margin-top: 25px;
    width: 1500px;
    height:340px;
    border-radius: 30px;
    background-color: #D1BD9E;
}

p{
    margin-top: 20px;
    margin-left: 18px;
    font-size: 25px;
    font-family: "Paytone One";
    color: #47230b;
}

.button-group button{
    background-color: #47230b;
    color: white;
    padding: 10px;
    width: 180px;
    border-radius: 50px;
    float: right;
    margin-right: 25px;
    margin-top: 45px;
    border: none;
}
