<div class="Containers">
  <app-navbar></app-navbar>
  <div class="textbox">Products</div>

  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="form">
        <i class="fa fa-search"></i>
        <input
          type="text"
          class="form-control form-input"
          placeholder="Search products..."
          [(ngModel)]="searchQuery" 
          (input)="filterProducts()"
        />
      </div>
    </div>
  </div>




  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Burgers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Fries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Drinks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sides</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Desserts</a>
    </li>
  </ul>

  <div class="circle"></div>

  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="1 1 auto" fxFlex.xs="100%" class="product-column">
      <div
        class="scrollable-content"
        fxLayout="row wrap"
        fxLayoutGap="-50px"
        fxLayoutAlign="space-evenly"
      >


        <!-- <ng-container
          *ngIf="productData && productData.length > 0; else noResults"
        >
          <div class="data-blocks" *ngFor="let data of productData">
            <app-product-block
              [ProductID]="data.ProductID"
              [ProductName]="data.ProductName"
              [Price]="data.Price"
              [Description]="data.Description"
              [ImageURL]="data.ImageURL"
              [Rating]="data.Rating"
              [CategoryID]="data.CategoryID"
            ></app-product-block>
          </div>
          
        </ng-container> -->


        <ng-container *ngIf="filteredProducts && filteredProducts.length > 0; else noResults">
          <div class="data-blocks" *ngFor="let data of filteredProducts">
            <app-product-block
              [ProductID]="data.ProductID"
              [ProductName]="data.ProductName"
              [Price]="data.Price"
              [Description]="data.Description"
              [ImageURL]="data.ImageURL"
              [Rating]="data.Rating"
              [CategoryID]="data.CategoryID"
            ></app-product-block>
          </div>
          <!-- {{ filteredProducts.length }} -->
        </ng-container>



        <ng-template #noResults>
          <div
            fxLayout="column"
            class="no-results"
            fxLayoutAlign="center center"
            fxFlex="1 1 auto"
          >
            No Products Available
          </div>
        </ng-template>

        
      </div>
    </div>
  </div>


</div>

