<div class="Containers">
    <app-navbar></app-navbar>
    <div class="left-container" fxFlex="50">
        <div class="card">
          <form class="Feedback" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="Heading">
              {{ editStatus ? 'Please Update Your Feedback' : 'Please Leave a Feedback Here!' }}
            </div>            
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="formData.Name" name="Name" placeholder="Enter your name" required>
            </mat-form-field>
          
            <mat-form-field appearance="outline">
              <mat-label>Burger Name</mat-label>
              <input matInput [(ngModel)]="formData.burgerName" name="burgerName" placeholder="Enter your Burger Name" required>
            </mat-form-field>
          
            <mat-form-field appearance="outline">
              <mat-label>Leave a Feedback</mat-label>
              <textarea matInput [(ngModel)]="formData.Comment" name="Comment" placeholder="Please enter your Feedback" required></textarea>
            </mat-form-field>

            <div class="rating-container" fxLayout="row" fxLayoutAlign="center center">
              <span
                class="material-symbols-outlined"
                *ngFor="let star of stars; let i = index"
                (mouseover)="onStarHover(i)"
                (mouseout)="onMouseOut()"
                (click)="onStarClick(i)"
                [ngClass]="{ 'selected': i + 1 <= selectedStar!, 'hovered': i + 1 <= hoveredStar! }"
                [style.color]="i < selectedStar! ? 'darkorange' : 'goldenrod'"
              >
                {{ star }}
              </span>
            </div>
            
            
            

            <button mat-raised-button color="primary" type="submit" class="mb-4">
              {{editStatus ? 'Update your Feedback' : 'Add your Feedback'}}
            </button>
          </form>      
              
        </div>
    </div>
    <div class="right-container" fxLayout="center center">
        <div class="burger-container">
            <img [src]="imageUrl" alt="homescreen-image" class="burger-image">
        </div>
    </div>
</div>



