<div class="Containers" fxLayout.lt-md="column">
    <app-navbar> </app-navbar>

    <div class="left-container" fxFlex="50">
     <div fxLayout="column">

        <div class="textbox">
            LOGIN TO <span class="mustard">BURGERLICIOUS</span>
        </div>
        <div class="card">
            <form class="Feedback"  (ngSubmit)="login(form)" #form="ngForm">
              <div class="Heading">
               
              </div>            
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="formData.Username" name="Username" placeholder="Enter your name" required>
              </mat-form-field>
            
              <!-- <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="formData.Email" name="Email" placeholder="Enter your Email" required>
              </mat-form-field> -->
            
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="formData.Password" name="Password" placeholder="Please enter your Password" required>
              </mat-form-field>
  
              <button mat-raised-button color="primary" type="submit" class="mb-4">
               Login Now
              </button>
            </form>      
                
          </div>

    </div>

    <div class="right-container" fxLayout="center center">
        <div class="burger-container">
            <img [src]="imageUrl" alt="homescreen-image" class="burger-image">
        </div>
    </div>
</div>

