<div class="container">
    <div class="header">
        <span (click)="closeDialog()" class="close-icon">&times;</span>
    </div>  

    <div class="content">
        <div
        class="scrollable-content"
        fxLayout="row wrap"
        fxLayoutGap="40px calc(100% - 40px)"
      >
        <ng-container
          *ngIf="searchData && searchData.length > 0; else noResults"
        >
          <div class="data-blocks" *ngFor="let result of searchData"  (click)="closeDialog()">
            <app-feedback-block
            [ReviewID]="result.ReviewID"
            [OrderID]="result.OrderID"
            [UserID]="result.UserID"
            [Name]="result.Name"
            [burgerName]="result.burgerName"
            [Comment]="result.Comment"
            [Rating]="result.Rating"
            [imageURL]="result.imageURL"
          ></app-feedback-block>
          </div>
        </ng-container>

        <ng-template #noResults>
          <div
            fxLayout="column"
            class="no-results"
            fxLayoutAlign="center center"
            fxFlex="1 1 auto"
          >
            No Results
          </div>
        </ng-template>
      </div>
    </div>
</div>