<div class="hold-transition dark-mode layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center" id="preloader">
      <img class="animation__wobble" src="assets/img/by-removebg-preview 1.png" alt="Logo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-dark">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="index3.html" class="nav-link">Home</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
          <a class="nav-link" data-widget="navbar-search" href="#" role="button">
            <i class="fas fa-search"></i>
          </a>
          <div class="navbar-search-block">
            <form class="form-inline">
              <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                  <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-admin-navbar></app-admin-navbar>
    <!--Main Side Bar ends-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">


          <!-- Tags at top -->
          <!-- Info boxes -->
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-hamburger"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">No Of Ingredients</span>
                  <span class="info-box-number">
                    {{noOfIngredients}}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">No of Feedbacks/Reviews</span>
                  <span class="info-box-number">{{noOfFeedbacks}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">No Of Sales</span>
                  <span class="info-box-number">{{noOfOrders}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">No Of Customers</span>
                  <span class="info-box-number">{{noOfUsers}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <!-- Tags at top -->




          <!-- Monthly Recap Report -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Order Track Status</h5>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <!-- Chart needed -->
                  <div class="col-md-12">
                    <p class="text-center">
                      <strong>Number of Orders in Each on-going Status</strong>
                    </p>

                    <div class="progress-group">
                      Received
                      <span class="float-right"><b>{{noOfReceivedStatus}}</b>/{{noOfStatusCountExceptCompleted}}</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" [ngStyle]="setReceivedPercentageStyles()"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->

                    <div class="progress-group">
                      Preparing Food
                      <span class="float-right"><b>{{noOfPreparingFoodStatus}}</b>/{{noOfStatusCountExceptCompleted}}</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" [ngStyle]="setPreparingFoodPercentageStyles()"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Order Ready</span>
                      <span class="float-right"><b>{{noOfOrderReadyStatus}}</b>/{{noOfStatusCountExceptCompleted}}</span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-success" [ngStyle]="setOrderReadyPercentageStyles()"></div>
                      </div>
                    </div>

          
                  </div>

                  <!-- Chart needed ends-->
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- Monthly Recap Ends Report -->


          <!-- Rating Analyze Report -->
          <button (click)="generatePDF()" type="submit" class="btn btn-primary" style="margin-right:20px">Generate PDF</button>
          <button (click)="downloadImage()" type="submit" class="btn btn-primary"  style="margin-right:20px">Download as PNG</button>
          <div class="row">
            <div class="col-md-12">
              <div class="card" id="ratingAnalyzeReport">
                <div class="card-header">
                  <h5 class="card-title">Rating Analyze Report</h5>

                  <div class="card-tools">
                    <!-- <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button> -->
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <canvas id="ratingChart"></canvas>
                </div>
              </div>

            </div>
          </div>

          <!-- Rating Analyze Report Ends -->

          <!-- Revenue Per Year Report -->
          <button (click)="generateRevenuePDF()" type="submit" class="btn btn-primary" style="margin-right:20px">Generate PDF</button>
          <button (click)="downloadRevenueImage()" type="submit" class="btn btn-primary"  style="margin-right:20px">Download as PNG</button>
          <div class="row">
            <div class="col-md-12">
              <div class="card" id="revenuePerYearReport">
                <div class="card-header">
                  <h5 class="card-title">Revenue Per Year Report</h5>

                  <div class="card-tools">
                    <!-- <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button> -->
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <canvas id="revenuePerYearChart"></canvas>
                </div>
              </div>

            </div>
          </div>

          <!-- Revenue Per Year Report Ends -->

          <!-- Top 10 Best Selling Ingredients -->
          
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Top 10 Best Selling Products</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Rank</th>
                  <th>Product Name</th>
                  <th>Total Sales</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor ='let i of Top10SellingProducts ; index as index'>
                    <td>{{index+1}}</td>
                    <td>{{i.ProductName}}</td>
                    <td>{{i.TotalSales}}</td>
                  </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Rank</th>
                  <th>Product Name</th>
                  <th>Total Sales</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>

          <!-- Top 10 Best Selling Ingredients Ends -->

        </div><!--/. container-fluid -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->





















    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
      </div>
    </footer>
  </div>
  <!-- ./wrapper -->
</div>
<router-outlet></router-outlet>