<div class="container">
    <h1>View Orders</h1>

    <div class="card mt-4 mb-5 pb-1 rounded" style="width: 85%;">
        <div class="card-header p-4" style="border-bottom: 3px solid silver;">    
            <div class="row mb-1">        
                <div class="col-md-9">          
                    <h3 class="card-text">Order ID : <h4 class="text-secondary" style="display: inline;">{{orderId}}</h4></h3>        
                </div>        
                <div class="col-md-3">          
                    <h3 class="card-text">Total : <h4 class="text-secondary" style="display: inline;">{{orderDetails[0].TotalAmount}}</h4></h3> 
                </div>    
            </div>   
        </div>  
        <div class="card-body">   
            <!-- view block -->
            <div class="card shadow" *ngFor ='let item of allOrderItems'>
                <div class="row no-gutters">
                  <div class="col-md-2">
                    <img src="http://localhost:3600/productImages/{{item.ImageURL}}" class="card-img rounded m-3 img-thumbnail" alt="Image" style="width: 200px; height: 200px;"/>
                  </div>
                  <div class="col-md-10">
                    <div class="card-body mt-3 ml-3">
              
              
                      <div class="row">        
                          <div class="col-md-10">          
                              <h3 class="card-text text-secondary">{{item.ProductName}}</h3>      
                          </div>        
                          <div class="col-md-2">          
                              <h4 class="card-text">Rs {{item.Subtotal}}</h4>
                          </div>    
                      </div>  
                      <div class="row">        
                          <div class="col-md-10 text-right ml-5">          
                              <h6 class="card-text text-body-secondary mt-1 pl-5">Qty : {{item.Quantity}}</h6>      
                          </div>          
                      </div>  
              
              
                    </div>
                  </div>
                </div>
            </div>

            <!-- view block end -->
              
        </div>  
    </div>

</div>

<router-outlet></router-outlet>
