.container-md{
    border-radius: 40px;
    background-color: #D1BD9E;
}

body{
    background-color: #5C2E0F;
    font-family: 'Paytone One', sans-serif;

}

h3 {
    color: #D1BD9E;
    font-weight: 900;
}

h2{
    font-weight: bold;
}