<div class="Containers" fxLayout.lt-md="column">
    <app-navbar> </app-navbar>
    <div class="top-container" fxFlex>
        <div class="textbox">
            Customize <span class="cream">Burger</span>
        </div>
    </div>
    <div class="left-container" fxFlex="50">
    </div>
    <div class="right-container" fxFlex="588px" fxLayout="center center">
        <div class="burger-container">
            <div class="button">
                <button mat-raised-button>Finish Building</button>
            </div>
        </div>
    </div>
</div>
