<div class="Containers" fxLayout.lt-md="column">
    <app-navbar> </app-navbar>
    <div class="textbox">
        Customize &nbsp;<span class="cream"> Burger</span>
    </div>
    <div class="left-container" fxFlex="55">
        <app-ingredients-slider></app-ingredients-slider>
    </div>
    <div class="right-container" fxFlex="588px" fxFlex="45" fxLayout="center center">
        <div class="image"> <img src="base-bun.png" alt="burger"></div>
        <div class="price">
            <h3>Rs.2100</h3>
        </div>
            <div class="button-container">
                <button mat-raised-button class="button" >Finish Building</button>
            </div>
     </div>
</div>
