.Containers {
    background-color: #D1BD9E;
    height: 100vh;
    width: 100%; /* Ensure the parent container spans the full width */
    position: relative;

    app-navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;

    }
}

.textbox {
    color: #D1BD9E;
    font-size: 55px;
    width: 100%;
    font-weight: 600;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    margin-top: 4%;
    padding-left: 4%;

    .cream {
        color: #5C2E0F;
    }

    @media screen and (max-width: 768px) {
        font-size: 60px;
        z-index: 9999;
    }
}

.left-container {
    background-color: #5C2E0F;
    z-index: 1;
    font-family: 'Paytone One', sans-serif;
    padding-top: 150px;
    padding-left: 20px;

    @media screen and (max-width: 768px) {
        font-size: 60px;
        z-index: 1;
    }
}

.right-container {
    width: 588px; /* Set the width as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .imageContainer {
        width: 400px;
        max-height: 400px;
        padding: 2%;
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    .stacked-image {
        margin-bottom: -10px; /* Add spacing between stacked images */
    }
    
    .individualIngredient {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .image-wrapper {
        display: flex; /* Use flexbox to align items horizontally */
        align-items: center; /* Vertically center-align items within .image-wrapper */
      }

    .close-button {
        margin-left: 10px; /* Add some spacing between the image and the button */
      }

      .arrow-button {
        width: 20px;
        height: 20px;
        border: 2px solid #5C2E0F;
        border-radius: 50%;
        cursor: pointer;
      }
      
      .up-button {
        /* Style for the "Up" button */
        position: absolute;
        top: 0;
        left: -30px;
      }
      
      .down-button {
        /* Style for the "Down" button */
        position: absolute;
        bottom: 0;
        left: -30px;
      }
        
       
    h3
    {
        font-family: 'Paytone One', sans-serif;
        color: #5C2E0F;
        font-size: 20px;
        margin-right: 310px;
        margin-bottom: 55px;
    }

    .button-container
    {
        margin-right: 30px;
        margin-bottom: 50px;
    }
    .button {
        background-color: #5C2E0F;
        color: #D1BD9E;
        font-size: 20px;
        font-weight: 5px;
        font-family: 'Paytone One', sans-serif;
        border-radius: 30px;
        padding: 23px 12px 23px 12px;
    }
}
